/**
 *
 *  o-todo
 *  https://github.com/olback/o-todo
 *
 *  Needs re-write...
 *
 */

@font-face {
    font-family: Roboto;
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: CabinSketch;
    src: url('../fonts/CabinSketch-Regular.ttf');
}

html, body {
    margin: 0;
    padding: 0;
    line-height: 1.4em;   
    background-color: #e8e8e8;
    height: 100%;
    overflow-y: hidden;
    font-family: Roboto;
}

nav {
    background-color: #ffcc00;
    height: 59px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
}

nav > h1 {
    padding: 0;
    margin-left: 20px;
    font-size: 20px;
    line-height: 1.4em;
    display: inline-block;
    font-family: CabinSketch;
    font-weight: normal;
}

aside {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    margin-left: 0;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: 20;
    transition: 0.175s;
    overflow-x: hidden;
    box-shadow: 2px 2px 10px #888;
}

aside > div.top {
    height: 150px;
    display: block;
    width: 100%;
    background-color: aqua;
    background-image: url('../images/sidenav-bg.png');
    background-size: cover;
    width: 300px;
}

figure {
    margin: 0;
    padding-top: 40px;
    padding-left: 20px;
    bottom: 10px;
}

.top > figure > img {
    border-radius: 50%;
    width: 54px;
    height: 54px;
    display: block;
}

.top > figure > figcaption {
    color: #333;
    background-color: white;
    padding: 4px 6px;
    width: min-content;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-top: 5px;
}

aside > ul {
    list-style: none;
    padding-left: 0;
    width: 300px;
}

aside > ul > li {
    color: gray;
    display: block;
    font-size: 1.2em;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    transition: 0.175s;
}

aside > ul > li > span {
    margin-left: 20px;
}

aside > ul > li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    color: #333;
}

aside > ul > li:last-child {
    box-shadow: 0 1px 10px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

footer {
    bottom: 10px !important;
    position: absolute;
    color: #aaa;
    display: block;
    width: 100%;
    font-size: 1em;
    padding: 10px 20px;
    width: 260px;
}

main {
    padding-top: 59px;
    display: block;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    overflow-y: hidden;
}

main > h1 {
    font-weight: lighter;
    margin-bottom: 0;
}

section {
    overflow-x: auto;
    white-space: nowrap;
    z-index: 9;
    padding: 40px;
    padding-top: 0;
}

article {
    display: inline-block;
    height: 360px;
    width: 250px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
    margin: 20px;
    padding: 20px;
    vertical-align: middle;
    transition: 0.3s;
}

article:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
}

article > * {
    margin: 0;
    padding: 0;
    user-select: none;
}

article > p {
    padding-top: 10px;
    display: inline-block;
    height: 92%;
    width: 100%;
    text-align: center;
    white-space: normal;
}

.nav-button {
    cursor: pointer;
    margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
    padding-bottom: 17px;
    padding-top: 20px;
    line-height: 1em;
    transition: 0.15s;
    float: right;
    margin: 0 20px;
}

.nav-button:hover {
    background-color: rgba(0,0,0,0.15);
}

.title {
    font-size: 2em;
    margin: 0;
    padding-top:9px;
}

#menu-button {
    float: left !important;
    margin-left: 12px;
}

.contribute {
    color: #888;
    transition: 0.1s;
}

.contribute:hover {
    color: #555;
}

#version {
    padding-left: 10px;
}

noscript {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.3);
}

noscript > div.container {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 70%;
    height: 70%;
    box-shadow: 0 10px 20px rgba(170, 77, 77, 0.19), 0 6px 6px rgba(0,0,0,0.23);
}

noscript > div.container > div.inner {
    display: block;
    margin: auto;
    width: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

noscript > div.container > div.inner > h1 {
    margin: auto;
    display: block;
    text-align: center;
    padding: 20px;
    padding-top: 40px;
}

noscript > div.container > div.inner > p {
    margin: auto;
    display: block;
    text-align: center;
    padding: 20px;
}

div.modal {
    /* Add modal css */
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.3);
    z-index: 30;
    position: fixed;
    padding: 0px;
    animation: fadein 0.2s;
    -webkit-animation: fadein 0.2s;
}

div.modal > div.inner {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 70%;
    max-width: 1200px;
    height: 90%;
    max-height: 800px;
    box-shadow: 0 10px 20px rgba(170, 77, 77, 0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow-y: scroll;
    z-index: 90;
}

div.modal > div.inner > form {
    margin: auto;
    margin-top: 40px;
    padding-bottom: 5%;
    display: block;
    width: 90%;
    overflow-y: scroll;
}

label {
    display: block;
    max-width: 700px;
    width: 92%;
    margin: auto;
    margin-top: 10px;
    font-size: 1.7em;
    padding: 0.2em 0;
}

input, textarea {
    display: block;
    max-width: 700px;
    width: 90%;
    margin: auto;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 7px;
    font-size: 1.2em;
}

button, input[type=submit] {
    background-color: #4CAF50;
    color: #fff;
    margin: 15px 15px;
    width: max-content;
    transition: 0.2s;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    border: none;
    display: inline-block;
    text-align: center;
}

button:hover, input[type=submit]:hover {
    background-color: rgba(76, 176, 80, 0.8);
}

.buttons {
    display: block;
    margin: auto;
    width: max-content;
}

.hidden {
    display: none;
}

.clear {
    border: 1px solid #888;
    background-color: transparent;
    color: #333;
}

.clear:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

div.modal > div.inner > i.close-modal {
    float: right;
    padding: 20px;
    font-size: 2em;
    line-height: 1em;
    cursor: pointer;
}

div.modal > div.inner > i.close-modal:hover {
    transition: 0.175s;
    background-color: rgba(0, 0, 0, 0.1);
}

div.modal > div.inner > h1 {
    font-size: 2em;
    margin: 20px;
    float: left;
    line-height: 1em;
    display: block;
}

#profile > .inner > figure > img {
    width: 100px;
    height: 100px;
    display: block;
    margin: auto;
    margin-top: 40px;
    border-radius: 50%;
}

#profile > .inner > figure > figcaption {
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 10px;
}

::-webkit-scrollbar {
    height: 3px;
    width: 3px;
    visibility: hidden;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow:  inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    visibility: hidden;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #888;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@media only screen and (max-width: 600px) {
    
    noscript > div.container {
        width: 95%;
    }

    .nav-button {
        margin:0;
    }

    #menu-button {
        margin-left: 0px;
    }

    .title {
        margin-left: 20px;
    }

    div.modal > div.inner {
        width: 95%;
        height: 95%;
    }

}
